<%inherit file="/homepage/templates/app_base.htm" />



<%block name="body_section_above">


</%block>


<%block name="body_section_left">
    <a style="margin-top:15px;" href="/catalog/index" class="btn btn-primary pull-right">&lsaquo; Back to catalog</a>
</%block>



 <%block name="body_section_middle">
 
 <div class="tile-outer">


    <!-- <a href="" class="btn btn-primary">&lsaquo; Back to catalog</a>
 -->
  	<div class="tile-container" style="width: 50%">
        <a href="#" data-pid="${product.id}" id="product-picture-modal">
    		<div class="tile-image text-center" style="text-align: center;">
    		    <img style="height: 350px; width: auto; display:inline-block;" src='${ product.picture }'/>
    		</div>
        </a>
  		<!-- <div class="tile-title">
  			<a class="btn btn-success btn-lg" style="color:white">${ product.name }</a>
  		</div> -->
  	

	</div>


<div class="pd">

<h2>${ product.name }</h2>
<p class="pdtext">Category: ${ product.category.name }</p>
<p class="pdtext">Description: ${product.desc }</p>
<p class="pdtext">Price: $${ product.price }<br>
%if hasattr(product, 'quantity'):

  %if product.quantity >= 1:

  Quantity Avaliable: ${ product.quantity }</p>
        <div class="center" id="purchase_container" style="margin:20px auto;">

          ${ form }
        </div>
  %else:
    Quantity Avaliable: ${ product.quantity }</p>
    <div class="center" id="purchase_container" style="margin:20px auto;">

        Out of Stock.
      </div>
  %endif


%else:
      %if product.status == True:
        <div class="center" id="purchase_container" style="margin:20px auto;">

          ${ form }
        </div>
      %else:
        <div class="center" id="purchase_container" style="margin:20px auto;">

          Out of Stock.
        </div>
      %endif
%endif
</div>

<!--   <a type="button" href="/catalog/checkout/${product.id}/" class="btn btn-warning"><i class="fa fa-cart-plus fa-4x" aria-hidden="true"></i></a> -->

</div>
 </%block>


 
 <%block name="body_section_right">
 %if request.user.get_last5_count() <= 1:

 %else:
    <h2 style="text-align: center">Recently Viewed Products</h2>
    <ul class="nav" id="rightnav">
    %for p in request.user.last5():
          %if p.id != product.id:
        <a style="color: black" href="/catalog/productdetails/${ p.id }/">
          <div class="tile-image">
            <img style="height: 150px"src = "${ p.picture }"/>
            <li>$${ p.price }</li>
            <li><a  style="color:white; text-align: center;" href="/catalog/productdetails/${ p.id }/" class="btn btn-success btn-sm">${ p.name }</a></li>
          </div>
        </a>
          %endif
    %endfor
    </ul>
%endif
 </%block>