<%inherit file="/homepage/templates/app_base.htm" />



<%block name="body_section_above">


</%block>


<%block name="body_section_left">
<ul class="nav" id="leftnav">
<!-- put a code for each class -->
<!-- click on category, returns the same URL with a parameter, filter on the category -->

	% for c in category:

		%if hasattr(c, 'name'):
			<li><a href="/catalog/index.get_cat/${ c.id }/">${ c.name }</a></li>
		%endif

	%endfor
<li><a href="/catalog/index/">View all</a></li>

  <div class="input-group" >
      <input type="text" class="form-control" id="search-input" placeholder="Search for...">
      <span class="input-group-btn" style="width: 1px">
        <button class="btn btn-default" id="search-button" style="width: 60px;" type="button">Search</button>
      </span>
    </div>
</ul>
</%block>



 <%block name="body_section_middle">
 <div class="tile-outer">


	<div class="tile-container" style="width: 50%">
      <a data-pid="${product.id}" id="product-picture-modal">
		<div class="tile-image">

		<img style="height: 350px; width: auto" src='${ product.picture }'/>

		</div>
        </a>
		<div class="tile-title">
			<a class="btn btn-success btn-lg" style="color:white">${ product.name }</a>
		</div>
		<br>

	</div>


<div class="pd">

<p class="pdtext">Category: ${ product.category.name }</p>
<p class="pdtext">Description: ${product.desc }</p>
<p class="pdtext">Name: ${ product.name }</p>
<p class="pdtext">Price: $${ product.price }</p>
%if hasattr(product, 'quantity'):

  %if product.quantity >= 1:

  <p class="pdtext">Quantity Avaliable: ${ product.quantity }</p>
        <div class="center" id="purchase_container">

          ${ form }
        </div>
  %else:
    <p class="pdtext">Quantity Avaliable: ${ product.quantity }</p>
    <div class="center" id="purchase_container">

        Out of Stock.
      </div>
  %endif


%else:
      %if product.status == True:
        <div class="center" id="purchase_container">

          ${ form }
        </div>
      %else:
        <div class="center" id="purchase_container">

          Out of Stock.
        </div>
      %endif
%endif


<!--   <a type="button" href="/catalog/checkout/${product.id}/" class="btn btn-warning"><i class="fa fa-cart-plus fa-4x" aria-hidden="true"></i></a> -->
</div>

</div>
 </%block>


 
 <%block name="body_section_right">
 %if request.user.get_last5_count() <= 1:

 %else:
    <h2 style="text-align: center">Recently Viewed Products</h2>
    <ul class="nav" id="rightnav">
    %for p in request.user.last5():
          %if p.id != product.id:
        <a style="color: black" href="/catalog/productdetails/${ p.id }/">
          <div class="tile-image">
            <img style="height: 150px"src = "${ p.picture }"/>
            <li>$${ p.price }</li>
            <li><a  style="color:white; text-align: center;" href="/catalog/productdetails/${ p.id }/" class="btn btn-success btn-sm">${ p.name }</a></li>
          </div>
        </a>
          %endif
    %endfor
    </ul>
%endif
 </%block>