<%inherit file="/homepage/templates/app_base.htm" />



<%block name="body_section_above">


</%block>


<%block name="body_section_left">
<div style="position: inherit; width:175px; margin-top:85px;">
	  <div class="input-group" >
	      <input type="text" class="form-control search" id="search-input" placeholder="Search...">
	      <span  class="input-group-btn" style="width: 1px">
	        <button class="btn btn-primary search" id="search-button" style="width: 60px;" type="button">Search</button>
	      </span>
	    </div>
	<ul class="nav">
		<li class="${ 'active' if(request.urlparams[0] == '') else '' }"><a href="/catalog/index">All Products</a></li>
		% for c in category:
			<li class="${ 'active' if(request.urlparams[0] == str(c.id)) else '' }"><a href="/catalog/index.get_cat/${c.id}">${c.name}</a></li>
		%endfor
	</ul>
</div>

</%block>



 <%block name="body_section_middle">
 <h1 style="text-align: center;">Search Results</h1>

 <div class="tile-outer">
%if not products:
	<div class="tile-container" style="width: 100%;">
		<h2 style="text-align: center;">0 results.</h2>
	</div>
%else:
	%for p in products:

<a href="/catalog/productdetails/${ p.id }/">
	<div class="tile-container" style="width: 100%; padding-top:35px; padding-bottom:15px;">

		<div class="tile-image" style="text-align: left;">
		<img  style="text-align: left" src='${ p.picture }'/>
				<p style="display: inline; color: black; position: absolute; padding-right:100px;">
				Name: ${ p.name }
				<br>
				<br>
				Price: $${ p.price }
				<br>
				<br>
				Category: ${ p.category.name }
				<br>
				<br>
				Description: ${p.desc }
				<br>
				</p>

		</div>
		<div class="tile-title">
			<a class="btn btn-success pull-right" href="/catalog/productdetails/${ p.id }/" style="color:white; margin-right: 5px; margin-top:20px;">View ${ p.name } &rsaquo;</a>
		</div>
	</div>
</a>
	%endfor

%endif



</div>


 </%block>


 
 <%block name="body_section_right">
 %if request.user.is_authenticated:
 %if request.user.get_last5_count() <= 1:

 %else:
    <div style="margin-top:30px; margin-left: -5px; width:210px;">
    <h4 style="text-align: center">Recently Viewed Products</h4>
    <ul class="nav" id="rightnav" style="padding:20px;">
      %for p in request.user.last5()[:5]:
        <div style="padding-bottom: ;">
          <a style="color: black" href="/catalog/productdetails/${ p.id }/">
            <div class="tile-image">
              <img style="height: 150px" src ="${ p.picture }"/>
              <li>${ p.name }</li>
              <li>$${ p.price }</li>
              <!-- <li><a  style="color:white; text-align: center;" href="/catalog/productdetails/${ p.id }/" class="btn btn-success btn-sm">${ p.name }</a></li>
     -->        </div>
          </a>
        </div>
        <hr style="border-top:2px solid #a9a9a9;">

      %endfor

    </ul>
  </div>
%endif
%endif
 </%block>