 <%inherit file="/homepage/templates/app_base.htm" />



<%block name="body_section_above">


</%block>


<%block name="body_section_left">
<ul class="nav" id="leftnav">
<!-- put a code for each class -->
<!-- click on category, returns the same URL with a parameter, filter on the category -->

  % for c in category:

    %if hasattr(c, 'name'):
      <li><a href="/catalog/index1.get_cat/${ c.id }/">${ c.name }</a></li>
    %endif

  %endfor
<li><a href="/catalog/index1/">View all</a></li>

  <div class="input-group" >
      <input type="text" class="form-control" id="search-input" placeholder="Search for...">
      <span class="input-group-btn" style="width: 1px">
        <button class="btn btn-default" id="search-button" style="width: 60px;" type="button">Search</button>
      </span>
    </div>
</ul>
</%block>



 <%block name="body_section_middle">
%if not cart:
     <h1 style="text-align: center;">No Items in Shopping Cart</h1>
%else:
   <h1 style="text-align: center;">Items in Shopping Cart</h1>

   <table class="table table-striped" style="background-color: white; ">
      <tr>
        <th>Product</th>
        <th>Picture</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Extended Price</th>
        <th>Action</th>
      </tr>

    % for p in cart:


      <tr style="background-color: white;">
          <td><a class="btn btn-success btn-lg" href="/catalog/productdetails/${ p.product.id }/" style="color:white">${ p.product.name }</a></td>
          <td><img style="text-align: left; height: 100px; width: auto; " src='${ p.product.picture }'/></td>
          <td>$ ${ p.product.price }</td>
          <td>${ p.qty_ordered}</td>
          <td>$${p.qty_ordered * p.product.price }</td>


          <!-- ${ p.quantity if hasattr(p, 'quantity') else '-'}</td> -->
          <!-- duck typing -->
          <td>
  <!--             <a href="/manager/product/${ p.id }/"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Qty</a>
              | -->
              <a class="delete_link" href="/catalog/shoppingcart.delete/${ p.id }/"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</a>
          </td>
      </tr>
    % endfor
  </table>

  %if not cart:
  <table class="table" style="background-color: white;">
  </table>
  %else:
  <a href='/catalog/shoppingcart.clear_cart/' type="button" class="btn btn-success btn-block"><i class="fa fa-trash-o" aria-hidden="true"></i> Clear Cart</a>
  <br>
  <br>
  </table>
   <h1 style="text-align: center;">Shopping Cart Amount</h1>
  <table class="table" style="background-color: white;">
    <tbody>
      <tr>
        <td></td>
        <td>Subtotal:</td>
        <td>$${request.user.calc_subtotal()}</td>
      </tr>
      <tr>
        <td></td>
        <td>Tax:</td>
        <td>$${round(request.user.calc_tax(), 2)}</td>
      </tr>
      <tr>
        <td></td>
        <td>Shipping:</td>
        <td>$${request.user.calc_shipping()}</td>
      </tr>
      <tr style="background-color: #Efefef ;">
        <td></td>
        <td>Total:</td>
        <td>$${round(request.user.calc_total(), 2)}</td>
      </tr>
      <tr>
      <td></td>
      <td></td>
      <td></td>
      </tr>
    </tbody>
  </table>
  <a class="btn btn-success btn-block" href="/catalog/shippingpage/" style="color:white">Checkout</a>
  %endif
%endif
 </%block>


 
 <%block name="body_section_right">
 %if not last5:

 %else:
   <h2 style="text-align: center">Recently Viewed Products</h2>
   <ul class="nav" id="rightnav">
    %for p in last5[:5]:
      <a style="color: black" href="/catalog/productdetails/${ p.id }/">
      <div class="tile-image">
        <img style="height: 150px"src = "${ p.picture }"/>
         <li>$${ p.price }</li>
         <li><a  style="color:white; text-align: center;" href="/catalog/productdetails/${ p.id }/" class="btn btn-success btn-sm">${ p.name }</a></li>
      </div>
       </a>
  %endfor
   </ul>
%endif
 </%block>