<%inherit file="/homepage/templates/base.htm" />

<%block name="nav_bar">
<!--NAV BAR-->
<li class="${ 'active' if(request.dmp_router_page == 'account') else '' }"><a href="/homepage/index/"><i class="fa fa-grav" aria-hidden="true"></i> User View</a></li>
<li class="${ 'active' if(request.dmp_router_page == 'products') else '' }"><a href="/manager/products/"><i class="fa fa-rocket" aria-hidden="true"></i> Products</a></li>
<li class="${ 'active' if(request.dmp_router_page == 'edituserstable') else '' }"><a href="/manager/edituserstable/"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
  </%block>
