body{
  background-color: #a9a9a9;
}

/*#homepagepic {
  /* Set rules to fill background */
  /*min-height: 100%;
  min-width: 1024px;*/

  /* Set up proportionate scaling */
  /*width: 100%;
  height: 640px;*/

  /* Set up positioning */
  /*position: relative;
  top: auto;
  left: auto;
  border-radius: 10px;*/

/*}*/

/*@media screen and (max-width: 1024px) { Specific to this particular image
  homepagepic {
    left: 50%;
    margin-left: -512px;   50%
  }
}*/

.icon{
  max-height: 40px;
  max-width: 115.2px;
  border-radius: 25px;
  position: relative;
  top: -8px;

}
/*#gold{
    background-color: #Ff3B3f;
    border-radius: 10px;
}*/
#header_message{
  position: fixed;
  z-index: 100000;
  right: 0;
}
/*#button{
  position: fixed;
  z-index: 100000;
  background-color: #Ff3B3f;
  top: 550px;
  right: 150px;

}*/
#header_main{
background-color: red;
text-align: center;
font-weight: lighter;;
color: white;
 border-radius: 5px;
}

#body_section_above{

  color: white;
  text-align: center;
  /*font-size: 30px;
  font-family: cursive;;*/
   /*border-radius: 5px;*/

}

#body_section_left{
  background-color: orange;
   border-radius: 5px;



}

#body_section_right{
  background-color: purple;
   border-radius: 5px;


}

/*@media screen and (max-width: 960px) {
   #body_section_left, #body_section_right {
     width:auto;
     float:none;
   }
}*/

#body_section_above_middle{
  background-color: gray;
   border-radius: 5px;
   text-align: left;
}


#body_section_below{
 text-align: center;
  color: black;
   border-radius: 5px;

}

#body_section_middle{
  background-color: #Efefef;
   border-radius: 5px;


}

#body_footer{
   color: white;
   text-align: center;
    border-radius: 5px;

}
