body{
  background-color: #a9a9a9;
}

/*#homepagepic {
  /* Set rules to fill background */
  /*min-height: 100%;
  min-width: 1024px;*/

  /* Set up proportionate scaling */
  /*width: 100%;
  height: 640px;*/

  /* Set up positioning */
  /*position: relative;
  top: auto;
  left: auto;
  border-radius: 10px;*/

/*}*/

/*@media screen and (max-width: 1024px) { Specific to this particular image
  homepagepic {
    left: 50%;
    margin-left: -512px;   50%
  }
}*/
.center{
width: 150px;
  margin: 40px auto;
}
.modal-image > img{
  background-color: white;
   height: 325px;
    width: auto;
    border-radius: 4px;
  padding: 6px;
  margin-top: 10px;

}
}
.searchid{
width: 1px;
padding-right: 10px;
}
.searchidinput{
width: 1px;
}
.pd{
  display: inline-block;
  background-color: white;
  padding: 6px;
/*  background-color: cyan;*/
  bottom: -8px;
  border-radius: 4px;
}
.pdtext{
  text-align: left;
  padding: 1px;
}

.tile-outer{
  text-align: center;
  
  /*background-color: blue;*/
 

}

.tile-container{
  display: inline-block;
  /*background-color: orange;*/
  text-align: center;
  padding: 12px;
  margin: 12px;
  padding: 35px;
  width: 250px;
  background-color: white;
  border-radius: 4px;


}
/*.product-de{
  display: inline-block;
  width: 200px;
}*/
.tile-image{
/*  width: 100px;*/
}
.tile-image > img {
 height: 150px;
 width: auto;
 
  padding: 6px;

}
.tile-title{
  padding-top: 12px;
  font-size: 1.4em;
  /*background-color: green;*/
}

#leftnav{
  position: fixed;
}
#rightnav{
  border-radius: 4px;
  padding: 25px;
  background-color: white;
  display: inline-block;
  position: static;
}

.icon{
  max-height: 40px;
  max-width: 115.2px;
  border-radius: 25px;
  position: relative;
  top: -8px;

}
/*#gold{
    background-color: #Ff3B3f;
    border-radius: 10px;
}*/
#header_message{
  position: fixed;
  z-index: 100000;
  right: 0;
}
.tile-container-block{
  background-color: white;
  border-radius: 4px;

}
.tile-desc{
  display: inline;
}
/*#button{
  position: fixed;
  z-index: 100000;
  background-color: #Ff3B3f;
  top: 550px;
  right: 150px;

}*/
/*#nav1{
  position: fixed;
  z-index: 100000;
  
}*/
#header_main{
background-color: red;
text-align: center;
font-weight: lighter;;
color: white;
 border-radius: 5px;

}

#body_section_above{

  text-align: center;

  /*font-size: 30px;
  font-family: cursive;;*/
   /*border-radius: 5px;*/

}

#body_section_left{
   border-radius: 5px;



}

#body_section_right{
   border-radius: 5px;


}

/*@media screen and (max-width: 960px) {
   #body_section_left, #body_section_right {
     width:auto;
     float:none;
   }
}*/

#body_section_above_middle{
   border-radius: 5px;
   text-align: center;

}


#body_section_below{
 text-align: center;
   border-radius: 5px;

}

#body_section_middle{

  text-align: left;
   border-radius: 5px;




}

#body_footer{

   text-align: center;
    border-radius: 5px;


}
