<%inherit file="/homepage/templates/base.htm" />

<!--ACCOUNT APP BASE  -->
<%block name="nav_bar">
<!--NAV BAR-->

     %if user.has_perm('account.add_fomouser') or user.has_perm('catalog.add_product'):
     <li class="${ 'active' if(request.dmp_router_page == 'account') else '' }"><a href="/homepage/index/"><i class="fa fa-grav" aria-hidden="true"></i> User view</a></li>
     <li class="${ 'active' if(request.dmp_router_page == 'products') else '' }"><a href="/manager/products/"><i class="fa fa-rocket" aria-hidden="true"></i> Products</a></li>
     <li class="${ 'active' if(request.dmp_router_page == 'users') else '' }"><a href="/manager/edituserstable/"><i class="fa fa-users" aria-hidden="true"></i> Users</a></li>
     %else:
     <li class="${ 'active' if(request.dmp_router_page == 'index') else '' }"><a href="/homepage/index/">Home</a></li>
     <li class="${ 'active' if(request.dmp_router_page == 'index') else '' }"><a href="/catalog/index/">Catalog</a></li>
     <li class="${ 'active' if(request.dmp_router_page == 'contact') else '' }"><a href="/homepage/contact/">Contact Us</a></li>
<!--      <li class="${ 'active' if(request.dmp_router_page == 'terms') else '' }"><a href="/homepage/terms/">Terms</a></li> -->
     <li class="${ 'active' if(request.dmp_router_page == 'about') else '' }"><a href="/homepage/about/">About Us</a></li>
<!--      <li class="${ 'active' if(request.dmp_router_page == 'sections') else '' }"><a href="/homepage/sections/">Sections</a></li>
     <li class="${ 'active' if(request.dmp_router_page == 'faq') else '' }"><a href="/homepage/faq/">FAQ</a></li>
     %endif -->

  </%block>
