<%inherit file="/homepage/templates/base.htm" />

<!--ACCOUNT APP BASE  -->
<%block name="nav_bar">
<!--NAV BAR-->
             <li class="${ 'active' if(request.dmp_router_page == 'information') else '' }"><a href="/account/index/">Information</a></li>
             <li class="${ 'active' if(request.dmp_router_page == 'orders') else '' }"><a href="/account/index/">Orders</a></li>
             <li class="${ 'active' if(request.dmp_router_page == 'other') else '' }"><a href="/homepage/index/">Other Stuff</a></li>
             <li class="${ 'active' if(request.dmp_router_page == 'sections') else '' }"><a href="/homepage/sections/">Sections</a></li>
  </%block>
