<%inherit file="app_base.htm" />

<%block name="body_section_above">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Catalog</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Terms</a></li>
  <li><a href="#">Sections</a></li>
  <li><a href="#">FAQ</a></li>
  <li class="active">About Us</li>
</ol>
</%block>

<%block name="body_section_middle">

<h3>About Us</h3>

<p>The Family Oriented Music Organization is a family owned music store that’s been
operating in Utah Valley since 1952. They have been profitable but are always looking
for ways to improve their business.</p>

<p>“FOMO is a store that aims to satisfy the musical needs of musicians and budding
musicians in the area. We provide instruments, accessories, repairs, sheet music, and
training opportunities. Our store has four main revenue streams: sales, rentals, venue
hosting and services.” -Johan Anderson</p>

<h3>A Team of Experts</h3>
<p>Our team includes members from a huge breadth of industries and musical backgrounds who have all gravitated toward the world of sound.</p>

<p>Our products include work from <strong>Fender</strong>, <strong>Yamaha</strong>, <strong>Casio</strong>,
  <strong>Gibson</strong>, <strong>Gretsch</strong>, <strong>Ibanez</strong>, <strong>PRS</strong>, <strong>Novation</strong>,
  <strong>Roland</strong>,&nbsp;<strong>Pure Tone</strong> and dozens of other globally-recognized compaines and brands</p>

<p>Our team members have <strong>taught</strong>, <strong>coached</strong>, and <strong>led lessons</strong>. We’ve organized, designed and
  facilitated professional learning and instruments.</p>

<h3>Accessibility Statement</h3>
<p>We have added a number of improvements to the website.</p>

<h4>Improvements</h4>
<ul style="list-style-type:disc">
  <li>We started by adding “alt” text to each of the graphics on our homepage</li>
  <li>We changed our “About Us” text to make it easier to understand. Use short, simple sentences to aid readability and engage a wider audience</li>
  <li>We have used visible labels outside of text boxes on our “Contact Us” form</li>
  <li>We have made our homepage accessible using the keyboard alone</li>
</ul>

</%block>
