## this is the skeleton of all pages on in this app - it defines the basic html tags

## imports
<%! from django_mako_plus import get_template_css, get_template_js %>


<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>

    <title>homepage</title>

    ## add any site-wide scripts or CSS here; for example, jquery:
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="${ STATIC_URL }homepage/media/Bootstrap/css/bootstrap.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    ## render the css with the same name as this page
    ${ get_template_css(self, request, context) }

    <%block name="site_icon">
      <div id="site_icon">
        <img src="${ STATIC_URL }homepage/media/OM.jpg" alt="Trash in Memphis"/>
      </div>
    </%block>

  </head>
  <body>

    <header>
      Welcome to the homepage app!
    </header>

    <%block name="content">
      Site content goes here in sub-templates.
    </%block>

    ## render the JS with the same name as this page
    ${ get_template_js(self, request, context) }

  </body>
</html>
