<%inherit file="app_base.htm" />


<%block name="body_section_above">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Catalog</a></li>
  <li><a href="#">Terms</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Sections</a></li>
  <li><a href="#">FAQ</a></li>
  <li class="active">Contact Us</li>
</ol>
</%block>

<%block name="body_section_middle">


${ form }

<!-- <form method="post">
  ${ csrf_input }
  ${ form.as_p() }
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

</%block>
