<%inherit file="app_base.htm" />


<%block name="body_section_above">
<!-- <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Catalog</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Terms</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Sections</a></li>
  <li class="active">FAQ</li>
</ol> -->
</%block>

<%block name="body_section_middle">
  <strong>What are the delivery charges for orders from the Online Shop?</strong>
  <p>FOMO Instruments offers free shipping worldwide in many countries. In other areas, shipping costs apply.</p>

  <strong>Which payment methods are accepted in the Online Shop?</strong>
  <p>We accept payment by credit card (VISA / MasterCard / AMERICAN EXPRESS / JCB / Diner's Club International), by debit card (VISA, Carte Bleue, Carte Bancaire), by direct bank transfer services (SOFORT Banking, iDEAL) and by PayPal.
    German customers are also able to pay via pre-payment (Vorkasse) or cash on delivery (Nachnahme). </p>

  <strong>How long will delivery take?</strong>
  <p>The following list serves as a rough guide, more exact shipping times for your country are given during check-out.
    Please note that there may be delays on rare occasions or in remote areas.</p>


</%block>
