<%inherit file="app_base.htm" />

<%block name="page_title">FOMO Web page
</%block>


<%block name ="header_main">

</%block>

<!--NAV bar is in app_base-->
<%block name="homepagepicture">
<img src = "${ STATIC_URL}homepage/media/homepagepic.jpg"  height="1000" width="1400" id="homepagepic" alt = "people playing violins"/>
</%block>
<%block name="body_section_above">

</%block>


<%block name="body_section_above_middle">

</%block>

<%block name="body_section_left">

</%block>

<%block name="body_section_middle">

</%block>


<%block name="body_section_right">

</%block>

<%block name="body_section_below">

</%block>
