<%inherit file="app_base.htm" />

<%block name="page_title">FOMO Web page
</%block>


<%block name ="header_main">
  This is a maintance notice, that the servers will be down on Februrary 4, 2017 at 12:30pm MTN. Thank you for your patience!
</%block>

<!--NAV bar is in app_base-->

<%block name="body_section_above">
announcements go here for stuff
</%block>


<%block name="body_section_above_middle">
This is the section above the content in the middle
</%block>

<%block name="body_section_left">
Ads
</%block>

<%block name="body_section_middle">
Selling stuff
</%block>


<%block name="body_section_right">
ADS
</%block>

<%block name="body_section_below">
THIS IS ABOVE THE FOOTER!
</%block>
