<%inherit file="app_base.htm" />


<!-- ABOVE -->
<%block name="body_section_above">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Accessories</a></li>
  <li><a href="#">Rentals</a></li>
  <li class="active">Buying Guide for Students</li>
</ol>
</%block>


<!-- ABOVE MDDLE -->
<%block name="body_section_above_middle">

</%block>

<!-- LEFT -->
<%block name="body_section_left">



</%block>


<!-- MIDDLE -->
<%block name="body_section_middle">
<h1 align="left">Instrument Rentals for Students</h1>

<p align="left">When faced with the task of selecting a new trumpet, you'll find that there are many factors to consider. And while it's great to have options, this can make the decision confusing for buyers—even those who have experience with a particular type of trumpet.

That's why we’ve put together this guide to help you choose the right trumpet for your needs. You'll find explanations of all the different trumpet types and some tips on what to look for in an instrument. You also can get started by browsing the complete collection of trumpets at Musician’s Friend.</p>

<a align="left" href="#">Browse rental options</a>
<br></br>


<img src="${ STATIC_URL }homepage/media/trumpet.jpg"/>

<br></br>

<h2 align="left">Affordable Insturments</h2>

<p align="left">If you’re shopping for a beginning student, you may be tempted to rent an instrument since your student’s commitment is unproven. There are some good reasons to opt for a purchase instead. These include:</p>
<a align="left" href="#">Browse purchasing options</a>
<p></p>
<ul align="left">
	<li>Long-term rental fees can add up quickly. A very playable student-level trumpet can often be purchased for less than the cost of a year’s rental.</li>
	<li>A well-chosen student instrument that is well cared for will retain its value and usually return a substantial part of its purchase price when sold used or traded in for an intermediate trumpet.</li>
	<li>Rental instruments may be a bit worse for wear with nicks, dents, and scratches. You’re also liable for any damage on a rented clarinet.</li>
</ul>
</%block>

<!-- RIGHT -->
<%block name="body_section_right">


</%block>

<!-- BELOW -->
<%block name="body_section_below">

</%block>