<%inherit file="app_base.htm" />

<%block name="page_title">FOMO Sections
</%block>


<%block name ="header_main">
  SECTIONS HTML
</%block>

<!--NAV bar is in app_base-->

<%block name="body_section_above">
SECTIONS HTML
</%block>


<%block name="body_section_above_middle">
SECTIONS HTML
</%block>

<%block name="body_section_left">
THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION
THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION
THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION
THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION
THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION THIS IS THE LEFT SECTION
</%block>

<%block name="body_section_middle">
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
</%block>


<%block name="body_section_right">
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION THIS IS THE MIDDLE SECTION
</%block>

<%block name="body_section_below">
THIS IS ABOVE THE FOOTER!
</%block>
