<%inherit file="app_base.htm" />

<%block name="body_section_above">
<!-- <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Catalog</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Terms</a></li>
  <li><a href="#">About Us</a></li>
  <li><a href="#">Sections</a></li>
  <li><a href="#">FAQ</a></li>
  <li class="active">Contact Successful</li>
</ol> -->
</%block>

<%block name="body_section_middle">

<h1>Thank you for contacting us. We will get back to you shortly!</h1>


</%block>
